# Install dependencies
npm install
# Install framer-motion and react-icons
npm i framer-motion
npm i react-icons

# Install Mongoose
npm i mongoose

# Install Mongodb
npm i mongodb

# Install bcrypt for password hashing
npm i bcrypt

# Install leaflet for maps
npm install react-leaflet leaflet
npm install axios

;lista general
npm install
npm i framer-motion
npm i react-icons
npm i mongoose
npm i mongodb
npm i bcrypt
npm install react-leaflet leaflet
npm install axios
npm install next-auth
